export(fastDR, ks, make.fastDR.formula)
importFrom("gbm3", "gbm_dist", "gbmParallel", "gbmt", "training_params")
importFrom("methods", "is")
importFrom("survey", "svydesign", "svyglm", "svymean")
importFrom("stats", "coef", "cor", "delete.response", "formula", "median", "model.frame",
             "model.matrix", "na.pass", "predict", "terms", "update",
             "reformulate", "vcov", "weighted.mean")
S3method(print,   fastDR)
S3method(summary, fastDR)
